source/mediapool-webservice/src/main/webapp/MobileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.mediapool.de" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.mediapool.de">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.mediapool.de">
            <xs:element name="serviceTest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceTestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="serviceTestRequest">
        <wsdl:part name="parameters" element="ns:serviceTest"/>
    </wsdl:message>
    <wsdl:message name="serviceTestResponse">
        <wsdl:part name="parameters" element="ns:serviceTestResponse"/>
    </wsdl:message>
    <wsdl:portType name="MobileServicePortType">
        <wsdl:operation name="serviceTest">
            <wsdl:input message="ns:serviceTestRequest" wsaw:Action="urn:serviceTest"/>
            <wsdl:output message="ns:serviceTestResponse" wsaw:Action="urn:serviceTestResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MobileServiceSoap11Binding" type="ns:MobileServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="serviceTest">
            <soap:operation soapAction="urn:serviceTest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MobileServiceSoap12Binding" type="ns:MobileServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="serviceTest">
            <soap12:operation soapAction="urn:serviceTest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MobileServiceHttpBinding" type="ns:MobileServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="serviceTest">
            <http:operation location="MobileService/serviceTest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="serviceTest"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="serviceTest"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MobileService">
        <wsdl:port name="MobileServiceHttpSoap11Endpoint" binding="ns:MobileServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MobileService"/>
        </wsdl:port>
        <wsdl:port name="MobileServiceHttpSoap12Endpoint" binding="ns:MobileServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MobileService"/>
        </wsdl:port>
        <wsdl:port name="MobileServiceHttpEndpoint" binding="ns:MobileServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MobileService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
